<!DOCTYPE html>
<html>
<head>
    <title>文件搜索系统</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        /* 样式定义 */
        .folder-btn {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h1>文件搜索系统</h1>
    <form id="search-form" action="/" method="POST">
        <label for="selected-path">选择路径：</label>
        <div id="path-buttons">
            <button type="button" class="folder-btn" onclick="getRootDrives()">选择文件夹</button>
        </div>
        <br>
        <label for="keyword">关键字：</label>
        <input type="text" id="keyword" name="keyword">
        <input type="hidden" id="selected-path" name="selected_path">
        <br>
        <button type="button" onclick="submitForm()">搜索</button>
    </form>
    <br>
    <h2>搜索结果：</h2>
    <div id="results">
        {% for result in results %}
        <div class="result-item">
            <p>路径：{{ results.path }}</p>
            <hr>
            {% for line in result.lines %}
            <p>行号{{ lines.line_number }}  {{ content }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    

    <script>
        // 获取根目录下的盘符按钮
        function getRootDrives() {
            $.ajax({
                url: '/root-drives',
                type: 'GET',
                success: function(response) {
                    var pathButtons = document.getElementById('path-buttons');
                    pathButtons.innerHTML = '';

                    response.forEach(function(drive) {
                        var button = document.createElement('button');
                        button.setAttribute('type', 'button');
                        button.setAttribute('class', 'folder-btn');
                        button.setAttribute('onclick', 'getSubdirectories("' + drive + ':\\\\")');
                        button.innerHTML = drive + ':\\';
                        pathButtons.appendChild(button);
                    });
                }
            });
        }

        // 获取指定路径下的子文件夹按钮
        function getSubdirectories(path) {
            $.ajax({
                url: '/subdirectories',
                type: 'GET',
                data: { path: path },
                success: function(response) {
                    var pathButtons = document.getElementById('path-buttons');
                    pathButtons.innerHTML = '';

                    var backButton = document.createElement('button');
                    backButton.setAttribute('type', 'button');
                    backButton.setAttribute('class', 'folder-btn');
                    backButton.setAttribute('onclick', 'getRootDrives()');
                    backButton.innerHTML = '返回';
                    pathButtons.appendChild(backButton);

                    response.forEach(function(subdirectory) {
                        var button = document.createElement('button');
                        button.setAttribute('type', 'button');
                        button.setAttribute('class', 'folder-btn');
                        button.setAttribute('onclick', 'getSubdirectories("' + path + '/' + subdirectory + '")');
                        button.innerHTML = subdirectory;
                        pathButtons.appendChild(button);
                    });


                    var confirmButton = document.createElement('button');
                    confirmButton.setAttribute('type', 'button');
                    confirmButton.setAttribute('class', 'folder-btn');
                    confirmButton.setAttribute('onclick', 'selectPath("' + path + '")');
                    confirmButton.innerHTML = '确定';
                    pathButtons.appendChild(confirmButton);
                }
            });
        }

        // 选择路径并更新表单
        function selectPath(path) {
            document.getElementById('selected-path').value = path;
        }

        // 提交表单
        function submitForm() {
            var selectedPath = document.getElementById('selected-path').value;
            document.getElementById('search-form').setAttribute('action', '/');
            document.getElementById('selected-path').value = selectedPath;
            document.getElementById('search-form').submit();
        }
    </script>
</body>
</html>
